name: .NET

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Pack
      run: dotnet pack --configuration Release
  publish:
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - name: ShowFakeEnvsWorkSpace
        run: echo $GITHUB_WORKSPACE/bin/Release/RoboMapper.*.nupkg
      - name: ShowFakeEnvsApiKey
        run: echo ${{secrets.NUGET_API}}   
      - name: publish
        run: dotnet nuget push $GITHUB_WORKSPACE/bin/Release/RoboMapper.*.nupkg -k ${{secrets.NUGET_API}} -s https://api.nuget.org/v3/index.json --skip-duplicate